main {
    height: 100vh;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}
.welcome {
    text-align: center;
    margin-top: 15rem;
    color: #745174;
    & p {
        font-weight: 700;
        font-size: 3rem;
    }
    & a {
        & span {
            padding: .5rem 1rem;
            border-radius: 10px;
            color: #a58fa5;
            background-color: white;
            background-color: #8EC5FC;
            background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
            &:hover {
                color: #a58fa5a0;
            }
        }
    }
}
.pokemons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png');
    &-container{
        background-color: white;
        min-height: 100vh;
        width: min(1300px,80%);
        &-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            background: url('https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png');
        }
        &-list {
            background-color: white;
            width: 80%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: 5rem 1.5rem ;
            gap: 1.3rem;
            &-card {
                box-shadow: 0px 0px 10px 0px rgb(0 25 54 / 10%);
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                width: max(22%,230px);
                border-radius: 5px;
                padding-bottom: 2rem;
                cursor: pointer;
                &:hover {
                    box-shadow: 0px 0px 10px 6px rgb(0 25 54 / 10%);
                }
                &-img {
                    border-radius: 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 2rem 1rem;
                    background-color: rgb(242 242 242);
                    & img {
                        max-width: 200px;
                        width: 100%;
                        min-height: 198px;
                    }
                }
                &-info {
                    padding: .3rem 1rem;
                    &-id {
                        padding: 0;
                        margin: 0;
                        color: rgb(145 145 145);
                        font-weight: bold;
                    }
                    &-name {
                        margin-top: 1rem !important;
                        padding: 0;
                        margin: 0;
                        font-weight: bold;
                        font-size: 2rem;
                        text-transform: capitalize;
                    }
                }
                &-badges {
                    display: flex;
                    flex-direction: row;
                    padding: .3rem 1rem;
                    flex-wrap: wrap;
                    gap: .5rem;
                    margin-top: 15px;
                    &-type {
                        text-transform: capitalize;
                        font-weight: bold;
                        padding: .15rem 1.4rem;
                        font-size: .8rem;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}