
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.badge-water {
  background-color: rgb(69 146 196);
  color: white;
}
.badge-poison {
  background-color: rgb(179 135 175);
  color: white;
}
.badge-normal {
  background-color: #757e85;
  color: white;
}
.badge-bug {
  background-color: #79bd00;
  color: white;
}
.badge-dark {
  background-color: #4e4c60;
  color: #797685;
}
.badge-dragon {
  background-color: #176bba;
  color: white;
}
.badge-electric {
  background-color: #ffd036;
  color: #57560c;
}
.badge-fairy {
  background-color: #f389d6;
  color: #5f3151;
}
.badge-fighting {
  background-color: #d64b62;
  color: #372929;
}
.badge-fire {
  background-color: #ff3424;
  color: #fff3c0;
}
.badge-flying {
  background-color: #5263b0;
  color: #e2e5f4;
}
.badge-ghost {
  background-color: #877ace;
  color: white;
}
.badge-grass {
  background-color: #03eb24;
  color: #f3ff83;
}
.badge-ground {
  background-color: #cd7836;
  color: white;
}
.badge-ice {
  background-color: #7cded8;
  color: #106560;
}
.badge-psychic {
  background-color: #fb6867;
  color: #940807;
}
.badge-rock {
  background-color: #c2ab63;
  color: white;
}
.badge-steel {
  background-color: #286b7f;
  color: white;
}
.bg-water {
  background-color: #80afd2 !important;
}
.bg-poison {
  background-color: #38133e8f !important;
  & .pokemon-detail-container-image-container-japan {
    color: #ffffff52;
  } 
}
.bg-normal {
  background-color: #f1dde4 !important;
  color: rgb(111, 111, 111) !important;
}
.bg-bug {
  background-color: #88576c !important;
}
.bg-dark {
  background-color: #514f61 !important;
}
.bg-dragon {
  background-color: #3c5386 !important;
}
.bg-electric {
  background-color: #fbd672 !important;
}
.bg-fairy {
  background-color: #f8cfd4 !important;
  color: #5f3151;
}
.bg-fighting {
  background-color: #c7b8a8 !important;
}
.bg-fire {
  background-color: #ce9064 !important;
}
.bg-flying {
  background-color: #acb5d1 !important;
}
.bg-ghost {
  background-color: #877ace !important;
}
.bg-grass {
  background-color: #92d1b4 !important;
}
.bg-ground {
  background-color: #ac8d7b !important;
}
.bg-ice {
  background-color: #609fc1 !important;
  color: #106560;
}
.bg-psychic {
  background-color: #e1c52d !important;
}
.bg-rock {
  background-color: #b3b3ac !important;
}
.bg-steel {
  background-color: #accbd0 !important;
}
.h-100 { 
  height: 100% !important;
}
.highlight-span {
  font-weight: 700;
}