
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.bg-water {
  background-color: rgb(69 146 196);
  color: white;
}
.bg-poison {
  background-color: rgb(179 135 175);
  color: white;
}
.bg-normal {
  background-color: #757e85;
  color: white;
}
.bg-bug {
  background-color: #79bd00;
  color: white;
}
.bg-dark {
  background-color: #4e4c60;
  color: #797685;
}
.bg-dragon {
  background-color: #176bba;
  color: white;
}
.bg-electric {
  background-color: #ffd036;
  color: #57560c;
}
.bg-fairy {
  background-color: #f389d6;
  color: #5f3151;
}
.bg-fighting {
  background-color: #d64b62;
  color: #372929;
}
.bg-fire {
  background-color: #ff3424;
  color: #fff3c0;
}
.bg-flying {
  background-color: #5263b0;
  color: #e2e5f4;
}
.bg-ghost {
  background-color: #877ace;
  color: white;
}
.bg-grass {
  background-color: #03eb24;
  color: #f3ff83;
}
.bg-ground {
  background-color: #cd7836;
  color: white;
}
.bg-ice {
  background-color: #7cded8;
  color: #106560;
}
.bg-psychic {
  background-color: #fb6867;
  color: #940807;
}
.bg-rock {
  background-color: #c2ab63;
  color: white;
}
.bg-steel {
  background-color: #286b7f;
  color: white;
}